<html>
<body>
{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter name" name="loginName">
    <br>
    <br>
    <input type="password" placeholder="Password" name="password">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>
{{/name}}

{{#name}}
Hello, {{name}}!
<br>
<br>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<form action="/hurricane" method="post">
    <input type="text" placeholder="Hurricane Name" name="hname"/>
    <input type="text" placeholder="Hurricane Location" name="hlocation"/>
    <select name="hcategory">
        <option selected disabled>Category</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>
    <br>
    <input type="text" placeholder="Image URL" name="himage"/>
    <br>
    <br>
    <button type="submit">Submit Hurricane</button>
</form>
{{/name}}

<table align="center" width="400px">
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Category</th>
        <th>Submitter</th>
        <th>Image</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
{{#hurricanes}}
    <tr>
        <form action="/delete-hurricane" method="post">
            <input type="hidden" value="{{id}}" name="id">
            <td>{{name}}</td>
            <td>{{location}}</td>
            <td>{{category}}</td>
            <td>{{user}}</td>
            <td><img src="{{image}}" width="100" height="100"/></td>
            <td><button type="submit">Delete</button></td>
        </form>
            <td>
                <form action="/edit-hurricane" method="get">
                    <input type="hidden" value="{{id}}" name="id">
                    <button type="submit">Edit</button>
                </form>
            </td>
    </tr>
{{/hurricanes}}
</table>
</body>
</html>